@media screen and (min-width:320px){
    body{
        background-color: rgb(109,187,166);
    }
    .main{
        width: 100%;
    }
    .Top{
        background-color:rgb(135,211,135);
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5,1fr);
        grid-gap:10px;
        height: 45px;
        position: fixed;
        margin-top: -50px;
        margin-left: -7px;
    }
    .Top a{
        text-decoration: none;
        color: rgb(16,66,139);
    }
    .Top1{
        background-color:rgb(135,211,135);
        display: grid;
        width: 100%;
        grid-template-columns: repeat(5,1fr);
        grid-gap:10px;
        height: 45px;
        position: fixed;
        margin-top: -50px;
        margin-left: -7px;
    }
    .Top1 a{
        text-decoration: none;
        color: rgb(16,66,139);
        padding-top: 20px;
    }
    .top2 img{
        height: 28px;
    }
    .top2{
        margin-top: 50px;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .top2 a{
        text-decoration: none;
        color: black;
    }
    .middle{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        grid-gap: 10px;
    }
    .middle2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        grid-gap: 10px;
    }
    .my_photo img{
     height: 300px;
    }
   .nav-left,.nav-left2{
    background-color: rgb(220,204,204);
    margin-left: -5px;
    width: 130px;
   }
   p{padding-left: 5px;
    color: rgb(45,107,198);
}
h2{
    color: white;
    margin-left: 5px;
    font-size: 18px;
}
   .nav-right2{
    background-color: rgb(143,148,155);
    width: 180px;
    transition: 1s ease-in-out;
   }
   .nav-right{
    margin-right: 5px;
    width: 180px;
    background-color: rgb(143,148,155);
    transition: 1s ease-in-out;
   }
   .per-id a,.ed-back a,.exper a,.skills a,.spok-lang a,.refe a{
text-decoration: none;
color:green;
transition: 1s ease-in-out;

   }
   .per-id,.ed-back,.exper,.skills,.spok-lang,.refe{
    margin-left: 5px;
    
   }
   .per-id:hover a,.ed-back:hover a,.exper:hover a,.skills:hover a,.spok-lang:hover a,.refe:hover a{
    visibility: visible;
    background-color: whitesmoke;
    transition: 0.1s ease-in-out;
    border-radius: 7px;
    margin-left: 25px;
    
   }
   .blackb,.blackc{
    background-color: rgb(78, 65, 65);
    transition: 2s ease-in;
   }
   .navrighter,.navyy{
    background-color: brown;
    transition: 0.5s ;
   }
   
}




/* at medium screen (769px-1024px) */

@media screen and ( min-width:769px){
    .main{width:100%;
    }
    .Top a{
        font-size: 25px;
    }
    .nav-left2{
        width: 250px;
    }
    .top2{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        height: 50px;
    }
    .top2 a{
        font-size: 12px;
    }
    .middle{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .Top1 a{
        font-size: 25px;
    }
    .top2 img{
        height: 35px;
    }
    .middle2{
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 1fr;
    }
    .my_photo img{
        height: 400px;
}
.nav-left{
    width: 70%;
    height: 400px;
}
.nav-left2{
    height: 400px;
}
p{font-size: 20px;
    color: white;}
.nav-right2{
    width: 100%;
}
.nav-right{
    width: 100%;
}
}

/* at large screen( 1025px-1200px) */

@media screen and (min-width:1025px){
    .main{width:100%;
    }
    p{
        font-size: 30px;
    }
    .top2 a{
        font-size: 15px;
    }
    .top2 img{
     height:25px;
    }
}